/* stylesheet for silva find search and searchresult pages */
.searchform {}

.searchform input, select {
  width:93%;
}
.searchform select{
  /* somehow select boxes were not styled */
  border:1px solid #03956a;
  background-color:#e8f7ef;
}
div.searchform input.searchform-submit {
  width:auto;
}

.searchform-title {
  padding-top:0.25em;
}
.searchform-title:after {
  content:':';
}

.searchresults h3 {}

.searchresult-header {
  height:2em;
  margin-bottom: 0.5em;
  padding:0.5em;
  border:1px solid #03956a;
  background: #c0d5ce;
}
span.searchresult-previous {
  float:left;
}

div.searchresult-header a:link {
  text-decoration:none;
}
div.searchresult-header a:visited {
  text-decoration:none;
}
div.searchresult-header a:hover {
  text-decoration:underline;
}

span.searchresult-info {
  float:left; 
}
span.searchresult-next {
  float:right;
}

div.searchresults ul {
  list-style-type:none;
  margin:0.5em 0.5em 1.5em -1em;
}

div.searchresult {
  margin-top:1em;
}

.searchresult-ranking {
  float:right;
  font-size:0.95em;
}

.searchresult-icon {}
.searchresult-counter {}

.searchresult-link {
  font-weight:bold;
}
.searchresult-modified:before {
  content:'(';
}
.searchresult-modified {
  font-size:0.85em;  
}
.searchresult-modified:after {
  content:')';
}
.searchresult-field {
  display:block;
  margin-left:2em;
  padding-left:10em;
  border-bottom:1px solid #03956a;
}
.searchresult-field-title {
  float:left;
  margin-left:-10em;
  font-style:italic;
}
.searchresult-field-title:after {
  content:':';
}

.searchresult-description {
  margin-left:2em;
}
.searchresult-thumbnail {
  margin-left:2em;
  padding-top:0.25em;
  padding-bottom:0.25em;
}

.searchresult-breadcrumb { 
   margin-left:2em;
   display:block;
}

.searchresult-nomatch {
  padding:0.5em;
  padding-top:1em;
}
